.project-card{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    flex-basis: 100%;
    flex-direction: column;
    color:white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}


.project-contents{
    margin:0 auto;
    height:80%;
    width:80%;
    background-color: rgb(235, 99, 9);
    border-radius: 15px;
    padding:15px;
}