.project-card{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    flex-basis: 100%;
    flex-direction: column;
    color:white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}


.project-contents{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto auto;
    height:80%;
    width:85%;
    background-color: rgba(116, 35, 91, 0.8);
    border-radius: 15px;
    padding:15px;
    border:1px solid black;
    ul{
        list-style: circle;
        padding:2rem;
    }
}