.project-card{
    background-color:red;
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    flex-direction: column;
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.project-contents{
    height:50%;
    width:50%;
    opacity: .8;
    background-color: black;
    border-radius: 15px;
    padding:15px;
}