.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 225px;
  width: 100%;

  &__logo {
    max-width: 250px;
    padding: 10px;
  }
}
