.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 250px;
  width: 100%;

  background: url('../../assets/nut.svg') top 10px left 10px / 15px no-repeat,
    url('../../assets/nut.svg') top 10px right 10px / 15px no-repeat,
    url('../../assets/nut.svg') bottom 10px right 10px / 15px no-repeat,
    url('../../assets/nut.svg') bottom 10px left 10px / 15px no-repeat black;

  &__logo {
    max-width: 250px;
    padding: 10px;
  }
}
