.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 225px;
  position: absolute;
  bottom: 0;
  width: 100%;

  &__logo {
    max-width: 250px;
    padding: 10px;
  }
}

.nut {
  background: url(../../assets/nut.svg) no-repeat;
  width: 15px;
  height: 15px;
  top: 10px;
  left: 10px;
}
